.details {
  &__wrapper {
    display: grid;
    row-gap: 40px;

    @include on-tablet {
      row-gap: 64px;
    }
  }

  &__buttons {
    @include page-grid;
  }

  &__link {
    display: inline-block;
    grid-column: 1 / -1;
    margin: 0;
    text-decoration: none;
    background-color: #fff;
    height: 56px;
    border-radius: 28px;

    font-weight: 700;
    font-size: 16px;
    line-height: 56px;
    letter-spacing: 0;
    color: #1d1d1d;
    text-align: center;

    @include button-action;

    @include on-tablet {
      grid-column: 2 / -2;
    }

    @include on-desktop {
      grid-column: 4 / -4;
    }
  }
}
