.top-bar {
  padding-block: $top-bar-padding-mobile;

  display: flex;
  justify-content: space-between;
  align-items: center;

  @include on-tablet {
    padding-block: 64px;
  }

  &__icons {
    display: flex;
    gap: $icon-size-mobile;
  }

  &__logo-link {
    display: flex;
  }

  &__logo {
    height: 38px;

    @include hover(transform, scale(1.2));

    @include on-tablet {
      height: 56px;
    }
  }
}
