$tablet-min-width: 744px;
$desktop-min-width: 1260px;
$efectDuration: 0.3s;

// main variables
$main-font-weight: 400;
$main-font-size: 16px;
$main-line-height: 140%;
$main-letter-spacing: 0;
$main-text-color: #fff;
$main-background-color: #1d1d1d;

// icon variables
$icon-size-mobile: 24px;
$icon-size-desktop: 32px;
$top-bar-padding-mobile: 24px 20px;
$top-bar-padding-tablet: 36px 72px;
$top-bar-padding-desktop: 36px 120px;
